---
import Layout from '../layouts/Layout.astro';
import Info from '../components/Info.vue';
---

<Layout title="Home">
	<main>
		<div class="landing">
			<div class="introduction">
				<div class="welcome">
					Doe mee met de <span>IT revolutie</span> en verander <span>jouw toekomst</span> vandaag.
				</div>
				<div class="subtext">
					Leer programmeren als een professional.
				</div>
			</div>
			<div class="example">
				<code></code>
			</div>
			<div class="buttons">
				<a class="get-started" href="/leren">
					Begin met programmeren
				</a>
			</div>
		</div>
		<Info client:load />
	</main>
</Layout>

<script>
	console.log('Hallo, Wereld!');

	const codeText = "console.log('Hallo, Wereld!');";
	const codeBlock = document.querySelector('.example code');
	const delay = 80;
	
	let i = 0;
	
	function typeWriter() {
		if (i < codeText.length) {
			codeBlock.innerHTML += codeText.charAt(i);
			i++;
			setTimeout(typeWriter, delay);
		}
	}

	typeWriter();
</script>

<style lang="scss">
	.landing {
		.introduction {
			.welcome {
				span {
					background-color: #DFE2CF;
					font-weight: 600;
				}
			}
			.subtext {
				color: #4d4d4d;
			}
		}
		.example {
			background-color: #282828;
			code {	
				color: #fff;
			}
		}
		.buttons {
			.get-started {
				background-color: #d4a373;
			}
			.get-started:hover {
				background-color: #d09860;
			}
			.where-to-start {
				background-color: #ccd5ae;
			}
			.where-to-start:hover {
				background-color: #c4d19b;
			}
			a:link, a:visited {
				color: #fff;
				display: inline-block;
				font-weight: 600;
				text-decoration: none;
				text-transform: uppercase;
				transition: 0.5s all;
			}
		}
	}

	@media only screen and (max-width: 600px) {
		.landing {
			width: 90vw;
			margin: 80px auto;
			.introduction {
				font-size: 20px;
				margin: 15px 0px;
				.subtext {
					margin: 5px 0px;
					font-size: 18px;
				}
			}
			.example {
				padding: 10px 8px;
				margin: 15px 0px;
				border-radius: 4px;
			}
			.buttons {
				margin: 15px 0px;
				a:link, a:visited {
					margin: 5px 0px;
					padding: 10px 12px;
				}
			}
		}
	}

	@media only screen and (min-width: 600px) and (max-width: 800px) {
		.landing {
			width: 90vw;
			margin: 80px auto;
			.introduction {
				font-size: 36px;
				margin: 15px 0px;
				.subtext {
					margin: 5px 0px;
					font-size: 24px;
				}
			}
			.example {
				width: 400px;
				padding: 10px 8px;
				margin: 15px 0px;
				border-radius: 4px;
			}
			.buttons {
				margin: 15px 0px;
				a:link, a:visited {
					margin: 5px 0px;
					padding: 10px 12px;
				}
			}
		}
	}

	@media only screen and (min-width: 800px) {
		.landing {
			width: 80vw;
			margin: 80px auto;
			.introduction {
				width: 100%;
				font-size: 36px;
				margin: 15px 0px;
				.subtext {
					margin: 5px 0px;
					font-size: 24px;
				}
			}
			.example {
				width: 400px;
				padding: 10px 8px;
				margin: 15px 0px;
				border-radius: 4px;
			}
			.buttons {
				margin: 15px 0px;
				a:link, a:visited {
					margin: 5px 0px;
					padding: 10px 12px;
				}
			}
		}
	}
</style>
